body {
  font-family: Roboto;
  overflow: hidden;
}

code {
  background-color: #fdf6e3;
  color: #586e75;
}

.error {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
