body {
  font-family: Roboto;
  overflow: hidden;
}

code {
  background-color: #fdf6e3;
  color: #586e75;
}

.error {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  overflow: hidden;
}
.subBar {
  opacity: 0.5;
}
svg {
  position: relative;
  user-select: none;
}
.info {
  position: fixed;
  top: 2rem;
  right: 1rem;
  width: 2rem;
  border-radius: 50%;
  height: 2rem;
  backdrop-filter: blur(4px);
  z-index: 1;
  cursor: pointer;
}

#infoContent {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: transform 300ms ease-in;
}

#content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transform: translateX(100%);
  transition: transform 300ms ease-out;
  backdrop-filter: blur(10px);
  width: 100%;
}

#contentInside {
  height: 100%;
  width: 100%;
  opacity: 0.5;
  padding: 2em;
}

#line-wrapper {
  position: relative;
  transition: transform 300ms ease-out;
  transform: rotate(0deg);
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.horizontal,
.vertical {
  width: 50%;
  height: 2px;
}
.vertical {
  position: relative;
  bottom: 2px;
  transform: rotate(90deg);
}

svg text {
  font-size: 12px;
}
